/* Layout
-------------------------------------------------------------- */
body {
	font-size: 100%;
}

h1 {
	text-align: center;
	margin: 0.469em 0 0.469em;
}

p {
	margin-bottom: 1.250em; 
	line-height: 1.500em;
}

ul {
	padding: 0;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.site-footer {
	padding: 2.500em 0 1.250em 0;
	text-align: center;
}

.secondary-list, .tertiary-list {
	display: none;
}

.back-button {
	display: none;
	margin: -1em;
	padding-bottom: 0.2em;
	padding-left: 0.1em;
}

/* Links & Navigation
-------------------------------------------------------------- */
a {
	text-decoration: none; 
	color: #ff6b31;
}

a:hover {
	text-decoration: underline;
}

.menu-button {
	display: block;
	padding: 1em;
	background: #000;
	color: #fff;
	background-image: url('../images/menu-icon.png');
	background-repeat: no-repeat;
	background-position: 93% 12px;
	cursor: pointer;
}

.navigation {
	margin: 0 auto;
	width: 100%;
	background-color: #333;
	display: none;	
}

.flexNav-touch .navigation,
.flexNav-no-touch .navigation {	
	display: none;
}

.navigation:after { /* clearfix */
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.navigation li {
	position: relative;
	list-style: none;
	display: block;	
	background-color: #333;	
	width: 100%;		
}

.navigation li span,
.navigation li a {
	display: block;
	color: #ddd;
}

.secondary-navigation li a {
	margin-right: 20%;
}

.primary-navigation li.primary-item {
	cursor: pointer;
}

.navigation span,
.navigation a {
	font-size: 75%;
	position: relative;
	display: block;
	background-color: #333;
	padding: 1em;
	z-index: 2;
}

.navigation li ul {
	width: 100%;
}

.navigation li ul li {
	float: none;
	width: 100%;
}

.navigation li ul li a {
	display: block;
	background-color: #333;
}

/* Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 699px) {
	.secondary-navigation li.secondary-item {	
		background-color: #555;
	}

	.arrow-down {
		background-image: url('../images/arrow-down.png');
		background-repeat: no-repeat;
		background-position: 91.5% 15px;	
	}

	.arrow-up {
		background-image: url('../images/arrow-up.png');
		background-repeat: no-repeat;
		background-position: 91.5% 15px;		
	}

	.primary-navigation li span {
		background-image: url('../images/arrow-right.png');
		background-repeat: no-repeat;
		background-position: 91.5% 15px;	
	}
}

@media all and (min-width: 700px) {
	body{
		font-size: 112.5%;
	}

	.flexNav-touch .primary-navigation,
	.flexNav-no-touch .primary-navigation {
		display: block;	
	}

	.menu-button {
		display: none;
	}

	.primary-navigation li {
		position: relative;
		list-style: none;
		float: left;
		display: block;
		background-color: #333;	
		width: 25%;		
	}

	.primary-navigation span {
		z-index: 1; /* added, double-check */
	}

	.flexNav-no-touch .primary-item:hover > ul,
	.flexNav-no-touch .secondary-item:hover > ul { 
		opacity: 1;
		top: 2.1em;	
		position: absolute;
		z-index: 2; /* added, double-check */
	}

	.flexNav-no-touch .primary-navigation li ul {
		position: absolute; 
		top: auto;
		left: 0;
		opacity: 0;
		visibility: hidden;
		height: 1px;
		z-index: 1;			
	}

	.flexNav-touch .primary-navigation li ul.secondary-list {
		position: absolute; 
		top: auto;
		left: 0;
		display: none;
		z-index: 1;					
	}	

	.flexNav-no-touch .primary-item:hover > ul,
	.flexNav-no-touch .secondary-item:hover > ul { 
		visibility: visible;
		opacity: 1;
		height: auto;
		display: block;
	}			
}

@media all and (min-width: 900px) {
	body{
		font-size: 137.5%;
	}
}

@media all and (min-width: 1100px) {
	body{
		font-size: 150%;
	}
}